@import "../../_settings/variables";

.logo {
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding-bottom: 15px;

	.brand-name {
		font-family: $primary-font;
		text-transform: capitalize;
		font-weight: 500;
		padding-top: 10px;
		&.dark {
			color: $dark-text;
		}
		&.light {
			color: $light-text;
		}
	}

	&.logo-small {
		.brand-name {
			font-size: 22px;
		}

		.logo-img {
			width: 40px;
		}
	}

	&.logo-medium {
		.brand-name {
			font-size: 26px;
		}
	}

	&.logo-large {
		.brand-name {
			font-size: 30px;
		}
	}

	.logo-img {
		width: 80px;
		height: 60px;
		max-width: 100%;
	}
}
