@import "../../_settings/variables";

.team-members {
	display: flex;
	justify-content: center;
	max-width: 100%;
	width: 100%;
	gap: 25px;
}

@media screen and (max-width: 768px) {
	.team-members {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
