@import "../../_settings/variables";

.contact-wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	overflow: hidden;
	.details {
		display: flex;
		flex-direction: column;
		gap: 40px;
		align-self: flex-start;
		max-width: 400px;
		width: 100%;
	}
	.contact-form {
		display: flex;
		flex-direction: column;
		align-self: center;
		padding: 30px 20px;
		max-width: 600px;
		width: 100%;
		background-color: $greenPrimary;
		border-radius: 10px;
		.contact-input {
			letter-spacing: 1.8px;
			box-shadow: none;
			font-size: 16px;
			border-radius: 4px;
			display: block;
			width: 100%;
			padding: 5px 10px;
			font-weight: 400;
			line-height: 1.5;
			color: $black-200;
			background-color: $white-200;
			border: 1px solid $grey-text;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			transition: border-color 0.5s ease-in-out, box-shadow 0.15s ease-in-out;
			&:focus,
			&:active {
				outline: 0;
				border-color: $light-blue;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			}
		}

		.name-email-wrapper {
			display: flex;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 2rem;
			.name,
			.email {
				display: flex;
				flex-direction: column;
				input {
					height: 44px;
				}
			}
			.name {
				width: 48%;
				label {
					font-size: 18px;
					padding-bottom: 8px;
				}
			}
			.email {
				width: 48%;
				label {
					font-size: 18px;
					padding-bottom: 8px;
				}
			}
		}
		.subject,
		.message {
			display: flex;
			flex-direction: column;
			margin-bottom: 2rem;
			label {
				padding-bottom: 8px;
			}
		}
		.subject {
			input {
				height: 44px;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.contact-wrapper {
		flex-direction: column-reverse;
		gap: 40px;
		.details {
			align-self: center;
		}
		.contact-form {
			max-width: 450px;
		}
	}
}
