@import "../../_settings/variables";

.nav-link {
	display: inline-block;
	position: relative;
	font-family: $primary-font;
	font-size: 18px;
	text-decoration: none;
	color: $white-text;
	text-transform: capitalize;
	transition: all 0.4s ease;
	&:hover {
		cursor: pointer;
		color: $light-blue;
	}
	&:active {
		color: $pink;
	}
}
