@import "../../_settings/variables";

.faq-section-title {
	text-align: center;
	margin-bottom: 1.5rem;
}

.faq-section-description {
	text-align: center;
	margin-bottom: 3rem;
}

.questions-wrapper {
	transition: all 0.7s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;

	.question-card {
		width: 65%;
		margin: 0 auto;
		border: 1px solid $darkBluePrimary;
		padding: 20px 10px;
		border-radius: 15px;
		background-color: $greyPrimary;

		&.active {
			.question-wrapper {
				.question {
					color: $light-blue;
				}
			}
		}

		.question-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				cursor: pointer;
			}

			.question {
				flex-basis: 85%;
				font-size: 16px;
				font-weight: 500;
				line-height: 24px;
			}
		}

		.answer-wrapper {
			padding: 15px 15px 0 15px;

			.answer {
				line-height: 24px;
			}
		}
	}
}
