@import "../../_settings/variables";

.questions-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 70%;
	margin: 0 auto;
	transition: all 0.7s ease;
}

@media only screen and (max-width: 768px) {
	.questions-wrapper {
		width: 100%;
		// margin: 10px;
	}
}
