@import "../../_settings/variables";

.icon-wrapper {
	display: flex;
	align-items: center;
	.icon-link {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	.icon {
		height: auto;
		margin-right: 4px;
		&.icon-small {
			width: 40px;
		}
		&.icon-medium {
			width: 55px;
		}
		&.icon-large {
			width: 70px;
		}
	}
	.icon-text {
		font-family: $primary-font;
		font-weight: 700;
		color: $white;
		text-transform: capitalize;
		cursor: pointer;
		user-select: none;
		text-decoration: none;
		&.icon-text-small {
			font-size: 16px;
		}
		&.icon-text-medium {
			font-size: 18px;
		}
		&.icon-text-large {
			font-size: 20px;
		}
		&:hover {
			opacity: 0.9;
		}
	}
}
