@import "../../_settings/variables";

.subscribe-section {
	.subscribe-section-title {
		text-align: center;
		margin-bottom: 2rem;
	}

	.subscribe-section-description {
		text-align: center;
		margin-bottom: 4rem;
	}
}
