@import "../../_settings/variables";

.header-container {
	position: absolute;
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;
	padding: 0 60px;
	transition: all 0.5s ease-out;
	overflow: hidden;
	&.sticky {
		position: fixed;
		height: 70px;
		padding: 0 50px;
		top: 0;
		z-index: 3;
		background-color: $navbarBackground;
		backdrop-filter: blur(20px);
	}
	&.mobile {
		width: 90%;
		height: 70px;
		padding: 0 25px 0 10px;
	}

	.logo-wrapper {
		flex-basis: 35%;
	}

	.menu {
		flex-basis: 45%;
	}

	.actions {
		flex-basis: 15%;
		display: flex;
		justify-content: center;
	}
}
