@import "../../_settings/variables";

.header {
	background-image: $hero-background;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 90px;
		padding: 0 20px;

		&.mobile {
			width: 90%;
			height: 70px;
			padding: 0 25px 0 10px;
		}

		.logo-wrapper {
			flex-basis: 20%;
		}

		.menu {
			flex-basis: 50%;
		}

		.actions {
			flex-basis: 15%;
			display: flex;
			justify-content: center;
		}


	}
}