@import "../../_settings/variables";

.columns {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	width: 100%;
	padding: 40px 90px;
	background-color: $darkBluePrimary;
	.social-column {
		flex-basis: 40%;
		.social-title {
			font-size: 20px;
			text-transform: capitalize;
			margin-bottom: 10px;
			color: $white;
		}
		.social-description {
			font-size: 14px;
			margin-bottom: 10px;
			line-height: 28px;
			color: $white;
		}
		.social-icons {
			width: 45%;
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
		}
	}
	.useful-links {
		flex-basis: 20%;
	}
	.our-services {
		flex-basis: 20%;
	}
}

.copyright {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 25px 90px;
	background-color: $purple;
}

@media only screen and (max-width: 768px) {
	.columns {
		flex-direction: column;
		padding: 20px 15px;
		.social-column {
			.social-title {
				font-size: 20px;
			}
			.social-icons {
				width: 60%;
			}
		}
	}
	.copyright {
		padding: 20px 10px;
	}
}
