@import "../../_settings/variables";

.contact-detail {
	display: flex;
	align-items: center;
	gap: 20px;
	.detail-icon {
		padding: 10px;
		border-radius: 100%;
	}
	.detail {
		.detail-title {
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 5px;
			color: #37517e;
		}
		.detail-description {
			font-size: 14px;
			color: #6182ba;
		}
	}
}
