@import "../../_settings/variables";

.stack-wrapper {
	position: relative;
	width: 100%;
	height: 120px;
	overflow-x: hidden;

	.stack {
		width: inherit;
		height: inherit;
		position: absolute;
		left: 0%;
		top: 0%;
		display: flex;
		align-items: center;
		justify-content: space-around;

		&.stack-1 {
			animation: primary 10s linear infinite;
		}

		&.stack-2 {
			animation: secondary 10s linear infinite;
		}


		.stack-img {
			width: 70px;
		}

	}
}

@media only screen and (max-width: 320px) {
	.stack-wrapper {
		.stack {
			gap: 10px;

			.stack-img {
				width: 55px
			}
		}
	}
}

@keyframes primary {
	from {
		left: 0%;
	}

	to {
		left: -100%;
	}
}

@keyframes secondary {
	from {
		left: 100%;
	}

	to {
		left: 0%;
	}
}