@import "../../_settings/variables";

.about-section {
	width: 80%;
	display: flex;
	margin: 0 auto;
	gap: 50px;
	.img-wrapper {
		flex: 1;
		text-align: center;
		.company-img {
			width: 500px;
		}
	}
	.content-wrapper {
		flex: 1;
		.about-section-title {
			margin-bottom: 25px;
			h3 {
				text-transform: uppercase;
				font-size: 15px;
				font-weight: 800;
				color: $light-blue;
				line-height: 1.2;
			}
		}
		.about-title {
			margin-bottom: 25px;
			h2 {
				font-size: 30px;
				text-transform: capitalize;
				color: #2a2a2a;
				font-weight: 800;
				position: relative;
				z-index: 2;
				line-height: 45px;
			}
		}
		.description {
			margin-bottom: 35px;
		}
	}
}
