@import "../../_settings/variables";
.price-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	max-width: 300px;
	width: 100%;
	padding-bottom: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
	&:nth-child(1) {
		background-color: $greenPrimary;
	}
	&:nth-child(2) {
		background-color: $yellowSecondary;
	}
	&:nth-child(3) {
		background-color: $pink;
	}
	&:hover {
		box-shadow: 0 0 5px $grey-text;
		transform: scale(1.05);
	}
	.card-header {
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;
		position: relative;
		padding: 15px;
		width: 100%;
		overflow: hidden;
		border-bottom-left-radius: 50% 20%;
		border-bottom-right-radius: 50% 20%;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		background: #2c3e50;
		margin-bottom: 2rem;
		h2 {
			color: $white-100;
		}
	}
	.ribbon {
		width: 118px;
		height: 115px;
		overflow: hidden;
		position: absolute;
		top: -3px;
		right: -3px;
		.ribbon-content {
			left: 15px;
			top: 20px;
			transform: rotate(45deg);
			position: absolute;
			display: block;
			width: 137px;
			background-color: #00aaa0;
			box-shadow: 0 0px 10px;
			color: #fff;
			text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
			text-transform: uppercase;
			text-align: center;
			border: 2px dotted #fff;
			outline: 5px solid #f5cd79;
		}
	}
	.card-body {
		margin-bottom: 2rem;
		.features-list {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 10px;
			.feature-item {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}
	}
}
