@import "../../_settings/variables";

.button {
	&.primary-button {
		background-color: $darkBluePrimary;
		background: linear-gradient(1deg, $darkBluePrimary, $darkBluePrimary 99%);
		color: $light-text;
	}
	&.secondary-button {
		background-color: $pink;
		background: linear-gradient(150deg, #ff0844, #f58360 99%);
		color: $light-text;
	}
	&.button-small {
		font-size: 14px;
		padding: 2px 10px;
	}
	&.button-medium {
		font-size: 16px;
		padding: 3px 15px;
	}
	&.button-large {
		font-size: 18px;
		padding: 6px 20px;
	}
	&.button-extra-large {
		font-size: 23px;
		padding: 14px 35px;
	}
	align-items: center;
	letter-spacing: 1.2px;
	line-height: 1.5;
	appearance: none;
	border-radius: 100px;
	border-width: 0;
	box-shadow: none;
	cursor: pointer;
	display: inline-flex;
	height: auto;
	justify-content: center;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	user-select: none;
	white-space: nowrap;
}

.button:active,
.button:focus {
	outline: none;
}

.button:hover {
	opacity: 0.95;
}

.button:focus:not(:active) {
	box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}
