@import "../../_settings/variables";

.section-title-wrapper {
	text-align: center;
	padding: 20px;
	margin-bottom: 4rem;
	width: 100%;
	.section-title {
		font-size: 32px;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		color: $bluePrimary;
		margin-bottom: 20px;
		padding-bottom: 20px;
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 3px;
			background: $light-blue;
			bottom: 0;
			left: calc(50% - 20px);
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 120px;
			height: 1px;
			background: $white-500;
			bottom: 1px;
			left: calc(50% - 60px);
		}
	}
	.section-description {
		margin: 0 auto;
		width: 75%;
		font-size: 18px;
		line-height: 30px;
		color: $grey-text;
	}
}
@media only screen and (max-width: 425px) {
	.section-title-wrapper {
		.section-title {
			font-size: 24px;
		}
		.section-description {
			font-size: 16px;
			width: 100%;
		}
	}
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
	.section-title-wrapper {
		.section-title {
			font-size: 28px;
		}
		.section-description {
			font-size: 16px;
			width: 90%;
		}
	}
}
