@import "../../_settings/variables";

.section-title-wrapper {
	text-align: center;
	padding: 20px;
	margin-bottom: 4rem;
	width: 100%;
	.section-title {
		font-size: 32px;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		color: #37517e;
		margin-bottom: 20px;
		padding-bottom: 20px;
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 3px;
			background: #47b2e4;
			bottom: 0;
			left: calc(50% - 20px);
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 120px;
			height: 1px;
			background: #ddd;
			bottom: 1px;
			left: calc(50% - 60px);
		}
	}
	.section-description {
		line-height: 30px;
	}
}
