@import "../../_settings/variables";

.features-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 25px;
	border: 1px solid $white;

	.feature-item {
		text-align: center;
		max-width: 270px;
		width: 100%;
		padding: 20px;
		border-radius: 25px;
		background-color: $darkBluePrimary;
		transition: all 0.5s ease;

		&:hover {
			transform: translateY(-5px);
			background-color: $bluePrimary;
		}

		.feature-icon {
			margin-bottom: 20px;
		}

		.feature-titile {
			font-size: 20px;
			line-height: 30px;
			font-weight: 700;
			color: $white-100;
			height: 70px;
			margin-bottom: 20px;
		}

		.feature-description {
			color: $white-100;
			font-size: 16px;
			line-height: 30px;
		}

		.line {
			width: 100px;
			height: 2px;
			background-color: $grey-text;
			margin: 20px auto;
			transition: all 0.5s;
		}

		.feature-number {
			background-repeat: no-repeat;
			width: 110px;
			height: 69px;
			color: $white-100;
			margin-left: auto;
			margin-right: auto;
			font-size: 30px;
			font-weight: 700;
			text-align: center;
			line-height: 69px;
			margin-top: -60px;
			margin-bottom: 30px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.features-wrapper {
		gap: 60px;
	}
}