@import "../../_settings/variables";

.hero-section {
	// background-color: $primary-blue;
	background-image: radial-gradient(
			circle at 85% 1%,
			hsla(190, 0%, 93%, 0.05) 0%,
			hsla(190, 0%, 93%, 0.05) 96%,
			transparent 96%,
			transparent 100%
		),
		radial-gradient(
			circle at 14% 15%,
			hsla(190, 0%, 93%, 0.05) 0%,
			hsla(190, 0%, 93%, 0.05) 1%,
			transparent 1%,
			transparent 100%
		),
		radial-gradient(
			circle at 60% 90%,
			hsla(190, 0%, 93%, 0.05) 0%,
			hsla(190, 0%, 93%, 0.05) 20%,
			transparent 20%,
			transparent 100%
		),
		radial-gradient(
			circle at 79% 7%,
			hsla(190, 0%, 93%, 0.05) 0%,
			hsla(190, 0%, 93%, 0.05) 78%,
			transparent 78%,
			transparent 100%
		),
		radial-gradient(
			circle at 55% 65%,
			hsla(190, 0%, 93%, 0.05) 0%,
			hsla(190, 0%, 93%, 0.05) 52%,
			transparent 52%,
			transparent 100%
		),
		linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
	width: 100%;
	height: calc(100vh - 90px);
	.hero-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		max-width: 100%;
		padding: 60px 30px;
		.left {
			padding-left: 40px;
			.hero-title {
				color: $white;
				font-family: $primary-font;
				text-transform: capitalize;
				font-size: 52px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			.hero-description {
				color: $white;
				opacity: 0.6;
				font-size: 24px;
				margin-bottom: 20px;
				padding-left: 5px;
			}
			.hero-actions {
				display: flex;
				align-items: center;
				width: 55%;
				justify-content: space-around;
				margin-top: 60px;
			}
		}
		.right {
			.hero-image-wrapper {
				.hero-image {
					width: 500px;
				}
			}
		}
	}
}
