@import "../../_settings/variables";

.subscribe-form {
	text-align: center;

	.subscribe-form-email {
		width: 400px;
		height: 44px;
		border-radius: 25px;
		padding: 10px 20px;
		font-size: 16px;
		letter-spacing: 1.2px;
		margin-right: -40px;
		&:focus {
			outline: 0;
		}
	}
	@media screen and (max-width: 425px) {
		.subscribe-form-email {
			width: 180px;
			height: 36px;
			border-radius: 25px;
			padding: 10px 20px;
			font-size: 16px;
			letter-spacing: 1.2px;
			margin-right: -40px;
			&:focus {
				outline: 0;
			}
		}
	}
}
