@import "../../_settings/variables";

.subscribe-form {
	display: flex;
	justify-content: center;
	align-items: center;

	.subscribe-form-email {
		max-width: 400px;
		width: 100%;
		height: 44px;
		border-radius: 25px;
		padding: 10px 20px;
		font-size: 14px;
		margin-right: -40px;
		box-shadow: none;
		font-weight: 400;
		line-height: 1.5;
		color: $black-200;
		background-color: $white-200;
		border: 1px solid $grey-text;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		transition: border-color 0.5s ease-in-out, box-shadow 0.15s ease-in-out;
		&:focus,
		&:active {
			outline: 0;
			border-color: $light-blue;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}
	}
}
