@import "../../_settings/variables";

.accordion-card {
	width: 65%;
	margin: 0 auto;
	border: 1px solid $blue;
	padding: 20px 10px;
	border-radius: 15px;
	background-color: $grey-200;
	transition: all 0.5s ease;

	&.active {
		.question-wrapper {
			.question {
				color: $light-blue;
			}
		}
	}

	.question-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			cursor: pointer;
		}

		.question {
			flex-basis: 85%;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
		}
	}

	.answer-wrapper {
		padding: 15px 15px 0 15px;

		.answer {
			line-height: 24px;
		}
	}
}
